body{
    background-color: rgb(250, 162, 162);
    color:rgb(0, 0, 0);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.font{
    font-size: 60px;
    color: rgb(255, 0, 13);
}
.subtitle{
    color:azure;
}

.subtitle2{
    color:azure;
}

.subtitulo{
    font-size: 30px;
    padding: 10px;
    margin: 0 auto;
    color: rgb(250, 0, 0);
}

.subtitulo2{
    font-size: 25px;
    padding: 10px;
    margin: 0 auto;
    color: azure;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

#ins{
 color: white;
}

h1{
font-weight: 200;
}


li{
    display: inline-block;
    margin: 20px;
}

a:hover{
   color: red;

}

#inscreva-se-btn{
    border: 2px solid red;
    padding: 10px;
    border-radius: 20px;
}

#inscreva-se-btn:hover{
    background-color:  #e0332d;
    color: white;
}

main{
    display: flex;
    flex-direction: row; 
    margin-top: 50px;
}

main article img {
    max-width: 9000px;
    max-height: 450px;
    width: auto;
    height: auto;
    margin-left: auto;
}

main article {
    margin-left: auto; 
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family:poppinsmedium;

}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 600px;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(241, 21, 21);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
     cursor: pointer;
}

li:hover {
    color: red;
    transition: 0.3s all;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px ;
    border: none;
    font-size: 15px;
}